crm-automations/workflows/AI-Automated-Lead-FollowUp-.json
{
  "name": "AI-Automated-Lead-FollowUp-",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        0
      ],
      "id": "d8e1a92c-d689-47c4-b734-e641cc8b98e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE",
          "mode": "list",
          "cachedResultName": "n8n-crm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        0
      ],
      "id": "de7ee824-36a9-4646-a1d3-fdf7c89e4916",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "kmKvQzRaRwYcoARO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab484cee-1d82-4c0e-b260-8efd9aab8b42",
              "leftValue": "={{ $json.Booked }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "1c19f48a-da17-4179-90f0-88275fc3289c",
              "leftValue": "={{ $json['Follow Up'] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "641abb99-16bd-4d9a-bd2f-7bb82850b6c7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent?key=AIzaSyARQp05Dp_X4oA1CnvQktidf9kmPf0hX8g",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "aplication/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"contents\": [     {       \"parts\": [         {           \"text\": \"You are a professional real estate assistant.\n\nGenerate a short and friendly follow-up email.\n\nLead Name: {{$('Get row(s) in sheet').item.json.Name}}\nInterest Type: {{$('Get row(s) in sheet').item.json['Interest Type']}}\nFollow Up Count: {{$('Get row(s) in sheet').item.json['Follow Up']}}\n\nRules:\n- Follow up #0 = friendly reminder\n- Follow up #1 = value-focused\n- Follow up #2 = final follow-up\n\nReturn:\nSubject:\nMessage:\"         }       ]     }   ] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        -112
      ],
      "id": "6186e210-7db4-412d-86a2-621f91cbbef4",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca90b00-353d-404b-b060-9381b2702368",
              "name": "name",
              "value": "={{ $('Get row(s) in sheet').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "8c89b2fb-2a21-4959-8aa9-182ab12fb637",
              "name": "email",
              "value": "={{ $('Get row(s) in sheet').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "2d2e33b0-4aad-4f45-bcf9-fa266ca84c96",
              "name": "newFollowUpCount",
              "value": "={{ Number($('Get row(s) in sheet').item.json['Follow Up'] || 0) + 1 }}",
              "type": "string"
            },
            {
              "id": "cdf1bfff-1b03-4fe0-897f-688545e61e2d",
              "name": "message",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        -112
      ],
      "id": "35279481-955b-4e94-8780-97ee62f77ebc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "jerohkylems@gmail.com",
        "toEmail": "={{ $json.email }}",
        "emailFormat": "text",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1152,
        -112
      ],
      "id": "92ba6aba-db65-4037-9ae0-e46fa12bddb7",
      "name": "Send an Email",
      "webhookId": "b287de03-54ce-4dfe-a0e5-16acdef6a78e",
      "credentials": {
        "smtp": {
          "id": "WtgFaU55p24ITHqF",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE",
          "mode": "list",
          "cachedResultName": "n8n-crm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hv4dCxERrQ8-_d39W2Rh49KQ_JhsHcPSsNRDNwVghIE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit Fields').item.json.email }}",
            "Follow Up": "={{ $('Edit Fields').item.json.newFollowUpCount }}",
            "Last Contact": "={{ $now }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Time Stamp",
              "displayName": "Time Stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Interest Type",
              "displayName": "Interest Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget Range",
              "displayName": "Budget Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision Timeline",
              "displayName": "Decision Timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Stage",
              "displayName": "Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow Up",
              "displayName": "Follow Up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booked",
              "displayName": "Booked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contact",
              "displayName": "Last Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Date",
              "displayName": "Meeting Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Booked At",
              "displayName": "Booked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -112
      ],
      "id": "9ffbd45e-f9c1-49b1-ba65-bda2f5beff22",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "kmKvQzRaRwYcoARO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule Trigger every day\n\nThis trigger will activate everyday \n",
        "height": 304,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -160
      ],
      "typeVersion": 1,
      "id": "c5b4f287-1687-4f21-9477-f816ae55c975",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Data from CRM\n\nThis node will get all the data from the database you are using",
        "height": 304,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -160
      ],
      "typeVersion": 1,
      "id": "d947c4f6-1b7e-41ca-bd50-9b49afbe8bb3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Check if the Lead is BOOKED or NOT\n\nThis filters the leads that needs nurturing ",
        "height": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -160
      ],
      "typeVersion": 1,
      "id": "08a61e05-426e-4ddc-934b-1e13ece5c887",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## AI email generator\n\nThis node will generate an Email based on the follow up count from the database it uses AI for email generation",
        "height": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -288
      ],
      "typeVersion": 1,
      "id": "109a4795-b8f5-4d69-9c8c-8944dd63d344",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## SET, SEND, UPDATE\n\nThis nodes will set the new data, send an email coming from the AI, and update the CRM",
        "height": 352,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -288
      ],
      "typeVersion": 1,
      "id": "6a15de0b-e6cc-42d0-a5b1-2488188e8596",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "42c6593a-232e-4e1a-bc97-3f6075483d73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dda9a317a6fe9e9854d95896238db903db9efcbfb6eee05a9c9bbadd118cc5ac"
  },
  "id": "FpC3QPUZ5eIzVk7O",
  "tags": []
}